# Cargando lo que ya ten√≠amos

In [4]:
import pandas as pd
import csv

In [5]:
df = pd.read_csv('corpus.csv')

## Distribuci√≥n de palabras

Para entender un poco m√°s el problema veremos la distribuci√≥n de las palabras. Adem√°s esto nos va a ayudar a evitar problemas en un futuro.

In [6]:
from collections import Counter
from itertools import chain

In [7]:
distribution_words = Counter(chain.from_iterable(df.message.map(lambda x: x.split(' '))))

In [8]:
df_distribution = pd.DataFrame(data={'word': list(distribution_words.keys()), 'counter': list(distribution_words.values())})

Es decir el vocabulario total es alrededor de:

In [9]:
df_distribution.count()

counter    101766
word       101766
dtype: int64

Por lo que las palabras menos vistas son

In [10]:
df_distribution.sort_values('counter').head(20)

       counter                       word
50882        1                     ¬øsomos
56242        1                  Ajjaajjaa
56241        1                   si√©ntase
56240        1                  esceptica
56239        1                      Tambn
56238        1                cuchareando
56234        1                       Rift
95882        1                     telef.
95885        1                     "Casos
56230        1                  elimine!!
95887        1                     cuenga
95888        1                    loca!!!
56226        1                      hasia
95889        1                       meha
56223        1                   roadway,
56231        1                 inclinaria
56244        1  (Computer|Data)-Scientist
56246        1                        üòÑüëåüèª
56247        1                      Paolo
56266        1                 cyverelfa?

Pero las m√°s vistas son:

In [11]:
df_distribution.sort_values('counter', ascending=False).head(20)

        counter      word
2244      24708       que
97407     24334        de
81804     19958         a
56515     18938        la
41661     17263        el
13296     14857        no
17074     13412         y
53512     12577        en
49124     11407  omitido>
38721     11407  <Archivo
50419     11228        me
0         11176
3547      10135        lo
83064      8710        es
99569      7468        un
20629      7197        se
47450      6934       los
81598      6626        si
40070      6528      para
100052     6187        te

Al querer hacer un gr√°fico de caja, nos dimos cuenta que la media en la distribuci√≥n de palabras era 1...

In [12]:
df_distribution.counter.median()

1.0

Pues luego de ver esa que la media era 1, nos preguntamos...
   - ¬øCu√°ntas palabras hay con una s√≥la aparici√≥n? Son √∫tiles o no?

In [13]:
sum(df_distribution.counter == 1) / df_distribution.count()

counter    0.648979
word       0.648979
dtype: float64

Vemos que hay alrededor de un 65% de palabras que aparecen una s√≥la vez... esto puede causar que la **vectorizaci√≥n no sea tan representativa como queremos...**

Problemas que vimos:
   - Al ser mensajes instantaneos, por lo general las personas no se preocupan con la ortogr√°fia ni la forma de escribir.
   - Muchos tipos de mismas palabras, por ejemplo jajaja = jaja, dale = daleee.
   - _Arhivo omitido_ como media no es √∫til.
   - Puntaciones son in√∫tiles para el problema (no ayudan en nada). Ejemplo quiero = quiero'
   - Los emoticones son necesarios para este problema?

## Conclusi√≥n

Despu√©s de discutir un rato decidimos tomar est√°s decisiones para mejorar la distribuci√≥n:
   - "Normalizar palabras m√°s vistas" (jajajajajaa --> jaja)
   - Tratar las puntuaciones como palabras ("?", "!", "...") o directamente removerlas (quiero' --> quiero)
   - Pasar a minuscula toda palabra
   - Eliminar palabra que no aparezca m√°s de 10 veces (soluciona errores de ortograf√≠a, links, etc)
   - Remover acentos
   - Pasar digito a la palabra NUM
   - Remover characteres repetidos, ejemplo: vaaaaamos por vamos.
   - __Hacer Stemm servir√≠a? FIJARSE __

Veamos como ser√≠a la nueva distribuci√≥n

In [14]:
from string import punctuation
import re
import unicodedata

In [15]:
STOP_WORDS = punctuation + '¬°'

def dig2num(text):
    return re.sub('(\d+[\WxX]*[^ ]*)+', 'NUM', text)

def rm_tildes(text):
    return ''.join((c for c in unicodedata.normalize('NFD', text) if unicodedata.category(c) != 'Mn'))

def rm_media(text):
    return re.sub(r'<archivo omitido>|<media omitted>', 'MEDIA', text)

def rm_repeated(text):
    return re.sub(r'([aeourshmi])\1{2,}', r'\1', text)

def rm_ok(text):
    return re.sub('(ok)+[akis]*', 'ok', text)

def rm_sw(text):
    return re.sub('{1}{0}{1}'.format(STOP_WORDS, '[]'), '', text)

def rm_ja(text):
    return re.sub('(ja[ja(js)]*)+', 'ja', text)

def rm_si(text):
    return re.sub('[s]+[i]+', 'si', text)

def to_low(text):
    return text.lower()

def clean_text(text):
    return rm_media(rm_tildes(to_low(text)))

def clean_text_1(text):
    return dig2num(rm_si(rm_ok(rm_ja(rm_repeated(rm_sw(clean_text(text)))))))

In [16]:
distribution_words = Counter(chain.from_iterable(df.message.map(lambda x: clean_text_1(x).split())))

In [17]:
df_distribution = pd.DataFrame(data={'word': list(distribution_words.keys()), 'counter': list(distribution_words.values())})

In [18]:
new_df = df_distribution[df_distribution.counter > 10]

In [19]:
new_df.count()

counter    5504
word       5504
dtype: int64

In [20]:
new_df.sort_values('counter', ascending=False).head(20)

       counter   word
2318     29526    que
49590    25647     de
33086    22398      a
38407    22198     no
6010     20865     la
44465    19731     el
43295    19547     ja
18305    18234      y
47026    16426    NUM
11233    16066  MEDIA
2922     14225     en
51770    14185     me
32864    13595     si
3732     11496     lo
34429    11287     es
21997     9315     se
40356     7943     un
35717     7817     te
50710     7565    los
42803     7549   para

In [23]:
new_df.sort_values('counter').head(20)

       counter        word
1           11      danita
30727       11        crew
31455       11     experto
31499       11     sonrisa
31641       11   necesiten
31962       11    rapipago
32059       11   maldicion
32129       11         rec
32165       11      hacemo
32309       11   extension
32409       11       metes
32412       11          sw
32590       11       elite
32659       11       monse
30662       11     cuentes
32716       11    testdata
32946       11     enojado
4251        11         üòÖüòÇüòÇ
33040       11  periodismo
33196       11       verte

Las listas van cobrando sentido