## Algunos problemas con el texto

Para entender un poco m√°s el problema veremos la distribuci√≥n de las palabras. Adem√°s esto nos va a ayudar a evitar problemas en un futuro.

In [5]:
from collections import Counter
from itertools import chain

In [6]:
distribution_words = Counter(chain.from_iterable(df.message.map(lambda x: x.split(' '))))

In [7]:
df_distribution = pd.DataFrame(data={'word': list(distribution_words.keys()), 'counter': list(distribution_words.values())})

Es decir el vocabulario total es alrededor de:

In [8]:
df_distribution.count()

counter    94663
word       94663
dtype: int64

Por lo que las palabras menos vistas son

In [9]:
df_distribution.sort_values('counter').head(20)

       counter                          word
47331        1                    lluviaaaa!
56560        1                   enganchamos
56559        1                      tatuadas
56557        1                        venado
56556        1                          uchi
56555        1                     notebook?
56553        1                          wooo
56561        1                         edque
56552        1                         Gin?üòç
56550        1                    an√©cdotas,
56549        1                         rifas
56547        1                        p√°sale
56543        1                    "Minotauro
56541        1                        lendas
56540        1  https://youtu.be/sldlwZXDVIA
56551        1                         rajen
56538        1                         ü§îjaja
56562        1                 *PARECE*...no
56564        1                      proximo,
56586        1                    haci√©ndole

Pero las m√°s vistas son:

In [10]:
df_distribution.sort_values('counter', ascending=False).head(20)

       counter      word
39989    23779       que
14716    22955        de
37685    19199         a
7492     18160        la
20712    16656        el
27099    14493        no
24102    12603         y
38126    12046        en
47482    11407  omitido>
41287    11407  <Archivo
86804    11058        me
24991     9894        lo
62427     8425        es
43626     7218        un
72689     6895        se
38996     6624       los
50039     6489        si
72939     6233      para
58758     5980        te
85309     5884       con

Al querer hacer un gr√°fico de caja, nos dimos cuenta que la media en la distribuci√≥n de palabras era 1...

In [11]:
df_distribution.counter.median()

1.0

Pues luego de ver esa que la media era 1, nos preguntamos...
   - ¬øCu√°ntas palabras hay con una s√≥la aparici√≥n? Son √∫tiles o no?

In [12]:
sum(df_distribution.counter == 1) / df_distribution.count()

counter    0.655504
word       0.655504
dtype: float64

Vemos que hay alrededor de un 65% de palabras que aparecen una s√≥la vez... esto puede causar que la **vectorizaci√≥n no sea tan representativa como queremos...**

Problemas que vimos:
   - Al ser mensajes instantaneos, por lo general las personas no se preocupan con la ortogr√°fia ni la forma de escribir.
   - Muchos tipos de mismas palabras, por ejemplo jajaja = jaja, dale = daleee.
   - _Arhivo omitido_ como media no es √∫til.
   - Puntaciones son in√∫tiles para el problema (no ayudan en nada)

In [ ]:
STOP_WORDS = punctuation

def remove_media(text):
    return re.sub('<Archivo omitido>', '', text)

def remove_dale(text):
    return re.sub('d[a]+l[e]+', 'dale', text)

def remove_ok(text):
    return re.sub('(ok)+[a-zA-Z]*', 'ok', text)

def remove_si(text):
    return re.sub('(s[i√≠]+)+', 'si', text)

def remove_sw(text):
    return re.sub('{1}{0}{1}'.format(STOP_WORDS, '[]'), '', text).lower()

def remove_ja(text):
    return re.sub('(ja[ajs]*)+', 'ja', text)

def clean_text(text):
    return remove_dale(remove_si(remove_ok(remove_ja(remove_sw(text)))))